<footer>
    <div class="footer-container">
      <div class="logo">
        <img src="..\assets\images\icons\logo-text.png" alt="your-logo-alt-text">
      </div>
      <div class="store-hours">
        <p>Store Hours:</p>
        <p>Monday-Saturday: 9am-9pm</p>
        <p>Sunday: 10am-6pm</p>
      </div>
      <div class="address">
        <p>(519) 546-7103</p>
        <p>591 Lancaster Street West</p>
        <p>Kitchener, ON, N2K 1M5</p>
        <a href="https://www.google.com/maps/place/591+Lancaster+St+W,+Kitchener,+ON+N2K+1M5" target="_blank" style="text-decoration: none;">View on Map</a>
      </div>

      <div class="booking-button">
        <div class="social-media-icons">
            <!--Change IG link when IG is active-->
            <a href="https://www.facebook.com/greenmangohairsalon/" target="_blank">
              <img src="..\assets\images\icons\ig.png" alt="Instagram">
            </a>
            <a href="https://www.facebook.com/greenmangohairsalon/" target="_blank">
              <img src="..\assets\images\icons\fb.png" alt="Facebook">
            </a>
          </div>
        <button routerLink="/book">Book Now</button>
      </div>
    </div>
  </footer>