<mat-toolbar style="background-color: white; padding-left: 200px; padding-right: 200px;">
    <button mat-button routerLink="/">
      <img src="..\assets\images\icons\GreenMango.png" alt="Logo" style="width: 200px; padding-top: 10px;">
    </button>
    <span class="spacer"></span>
    <button mat-button routerLink="/book">Book Now</button>
    <button mat-button routerLink="/services">Services</button>
    <button mat-button routerLink="/staff">Staff</button>
    <button mat-button routerLink="/gallery">Gallery</button>
    <button mat-button routerLink="/location">Location</button>
    <button mat-button routerLink="/careers">Careers</button>
  </mat-toolbar>
